*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: url("../img/10547226_13167.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.login{
    width: 50%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}